<!-- Header.html -->
<header>
    {% load i18n %}
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <div class="header-brand">
                <svg xmlns="http://www.w3.org/2000/svg" id="header-circle" class="bi bi-circle-fill"
                    viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8" />
                </svg>
                <a class="navbar-brand">Aloyse SECK</a>
            </div>
            <div class="d-flex">
                <div class="container text-center">
                    <div class="row header-links">
                        <div class="col">
                            <a href="/">{% trans "Accueil" %}</a>
                        </div>
                        <div id="cv-link" class="col">
                            <a href="/cv/">{% trans "CV" %}</a>
                        </div>
                        <div id="contact-link" class="col">
                            <a href="#" onclick="showContactCard()">{% trans "Contact" %}</a>
                        </div>
                        <div id="header" class="col dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                FR 🇫🇷
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" data-lang="fr"
                                    onclick="changeLanguage('fr'); updateButtonText(this);">FR 🇫🇷</a>
                                <a class="dropdown-item" href="#" data-lang="en"
                                    onclick="changeLanguage('en'); updateButtonText(this);">EN 🇬🇧</a>
                                <a class="dropdown-item" href="#" data-lang="ru"
                                    onclick="changeLanguage('ru'); updateButtonText(this);">РФ 🇷🇺</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myContactCard" class="contactCard">
            <div class="card-content">
                <span class="close" onclick="hideContactCard()"> x </span>
                <div class="card">
                    <div class="align">
                        <span class="red"></span>
                        <span class="yellow"></span>
                        <span class="green"></span>
                    </div>
                    <h1>{% trans "Contactez moi" %}</h1>
                    <div class="container social-networks">
                        <div class="row">
                            <div class="col">
                                <a href="https://www.linkedin.com/in/aloyse-maliam-seck/" target="_blank">
                                    <img src="/static/portfolio/img/linkedIn.svg" id="circle-img1" class="circle-img"
                                        alt="LinkedIn Profile" />
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://github.com/AloyseSECK" target="_blank">
                                    <img src="/static/portfolio/img/github.svg" id="circle-img2" class="circle-img"
                                        alt="Github Profile" />
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://www.instagram.com/alowiz_sck?igsh=ODMwM2R4cWJnNG5t" target="_blank">
                                    <img src="/static/portfolio/img/instagram.png" id="circle-img3" class="circle-img"
                                        alt="Instagram Profile" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
