<!DOCTYPE html>
<html lang="fr">

<head>
    {% load i18n %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% trans "Portfolio" %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/home_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Castoro:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    {% include 'header.html' %}
    <main class="homepage">
        <!-- Formulaire qui permet de mettre à jour la langue de la page affichée -->
        <form id="languageForm" action="/i18n/setlang/" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="/">
            <input id="languageInput" name="language" type="hidden">
        </form>
        <div>
            <div class="container">
                <div class="row">
                    <div id="cadre-image"></div>
                    <div class="col-md-6">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h1 class="display-1">{% trans "Salut" %}</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p id="a-propos" class="lead">{% trans "A propos de moi" %}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="lead">{% trans "Je suis étudiant en école d'ingénieur en Informatique. J'aime apprendre de nouvelles technologies et résoudre des problèmes." %}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <div class="col text-center">
                                            <a href="/cv/">
                                                <div id="circle1" class="circle">{% trans "CV" %}</div>
                                            </a>
                                        </div>
                                        <div class="col text-center">
                                            <a href="#">
                                                <div id="circle2" class="circle">{% trans "Projets" %}</div>
                                            </a>
                                        </div>
                                        <div class="col text-center">
                                            <a href="#" onclick="showContactCard()">
                                                <div id="circle3" class="circle">{% trans "Contact" %}</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>
        function updateButtonText(element) {
            var button = document.getElementById('dropdownMenuButton');
            button.textContent = element.textContent;
            var lang = element.getAttribute('data-lang');
            document.documentElement.setAttribute('lang', lang);
            // Store the selected language in a cookie
            document.cookie = "selectedLanguage=" + encodeURIComponent(lang) + "; path=/";
            document.cookie = "languageDisplay=" + encodeURIComponent(element.textContent) + "; path=/";
        }
    
        function changeLanguage(lang) {
            document.getElementById('languageInput').value = lang;
            document.getElementById('languageForm').submit();
        }
    
        // Function to get the value of a cookie
        function getCookie(name) {
            let cookieArr = document.cookie.split(";");
            for (let i = 0; i < cookieArr.length; i++) {
                let cookiePair = cookieArr[i].split("=");
                if (name == cookiePair[0].trim()) {
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            return null;
        }
    
        // On page load, update the button text with the value from the cookie
        document.addEventListener("DOMContentLoaded", function() {
            var selectedLanguage = getCookie("selectedLanguage");
            if (selectedLanguage) {
                var button = document.getElementById('dropdownMenuButton');
                button.textContent = getCookie("languageDisplay");
                document.documentElement.setAttribute('lang', selectedLanguage);
            }
        });
        
        // Pop-up card functions
        function showContactCard() {
            document.getElementById("myContactCard").style.display = "flex";
        }
        
        function hideContactCard() {
            document.getElementById("myContactCard").style.display = "none";
        }

        window.onclick = function(event) {
            var pop_up_card = document.getElementById("myContactCard");
            if (event.target == pop_up_card) {
                pop_up_card.style.display = "none";
            }
        }
    </script>
</body>

</html>