<!DOCTYPE html>
<header>
    <div id="top-header">
        <div id="logo">
            <img src="images/logo.png" />
        </div>
        <nav>
            <ul>
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/cv/">CV</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="header-image-menu">
        <img src="images/slider.jpg" />
        <h2 id="image-text">
            My Portfolio App
        </h2>
    </div>
</header>