/* styles du CV */

h1 {
    font-size: 2em;
    color: #333;
}

h2 {
    font-size: 1.5em;
    color: #666;
}

h3 {
    font-size: 1.2em;
    color: #444;
}

.email,
.telephone,
.entreprise,
.periode,
.description,
.institution,
.date_obtention {
    font-weight: bold;
    color: blue;
}

.emploi,
.diplome {
    margin-bottom: 20px;
}

ul.competences-techniques,
ul.competences-linguistiques,
ul.interets {
    list-style-type: disc;
    margin-left: 20px;
}

/* Header styles */
.navbar-brand {
    font-family: 'Castoro';
    font-size: xx-large;
    font-weight: bold;
}
.bi-circle-fill {
    color: orange;
    font-size: 1.5rem;
    margin-right: 0.7rem;
}

.header-links {
    font-family: 'Castoro';
    font-size: large;
}

.header-links a {
    color: black ;
    text-decoration: none;
    transition: font-size 0.5s ease;
}

.header-links a:hover {
    color: rgb(137, 187, 231);
    font-size: larger;
    font-weight: bold;
}

#cv-link {
    border-left: solid 2px ;
    border-right: solid 2px;
}