.navbar-brand {
    font-family: 'Castoro';
    font-size: xx-large !important ; 
    font-weight: bold;
}

.header-brand {
    display: flex;
    align-items: center;
}

.bi-circle-fill {
    fill: currentColor;
    color: orange;
    width: 25px;
    height: 25px;
  }
#header-circle {
    margin-right: 8px;
}

#little-circle {
    width: 25px;
    height: 25px;
    color: orange;
}

.header-links {
    font-family: 'Castoro';
    font-size: large;
    display: flex;
    align-items: center;
}

.header-links a {
    color: black ;
    text-decoration: none;
    transition: font-size 0.5s ease;
}

.header-links a:hover {
    color: rgb(137, 187, 231);
    font-size: larger;
    font-weight: bold;
}

#cv-link {
    border-left: solid 2px ;
    border-right: solid 2px;
}

#contact-link{
    border-right: solid 2px;
}


body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa; 
    font-family: "Castoro";

}

header {
    width: 100%;
    height: 60px; /* Adjust as necessary */
    background-color: #f8f9fa; 
    padding-left: 2em;
    padding-right: 2em;
}

main.homepage {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    padding: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#a-propos {
    font-weight: bold;
}

#cadre-image {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: url('../img/photo.jpg');
    background-size: cover;
    background-position-y: 30%;
}

.col-md-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

@media (max-width: 1200px) {
    #cadre-image {
        height: 400px; 
        width: 400px; 
    }
}
@media (max-width: 992px) {
    #cadre-image {
        height: 300px; 
        width: 300px; 
    }
}


#circle1 {
    background-color: orange;
}
#circle2 {
    background-color: red;
}
#circle3 {
    background-color: rgb(137, 187, 231);
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000; 
    font-weight: bold;
    font-size: 20px; 
    transition: transform 0.7s ease; 
}
.col a {
    text-decoration: none;
}

/* Increase circle on hover */
.circle:hover {
    transform: scale(1.1);
}


/* -----------------------------BUTTON STYLE------------------------------- */
button {
    height: 50px;
    margin: 5px;
    width: 120px;
    background: #ffffff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Consolas, Courier New, monospace;
    border: solid #404c5d 1px;
    font-size: 16px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #5b5959, #ffffff);
    -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
      inset 5px 5px 10px #a4a4a4, inset -5px -5px 10px #fff9f9;
    box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
      inset 5px 5px 10px #ffffff, inset -5px -5px 10px #cacaca;
  }
  
  button:hover {
    -webkit-box-shadow: 1px 1px 13px #fcfcfc, -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #ededef, -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  button:active {
    -webkit-box-shadow: 1px 1px 13px #ffffff, -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #ffffff, -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
  }  

/* ---------------------------- CONTACT CARD STYLE -------------------------------- */
.contactCard {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.card-content {
    background-color: transparent;
    border: none;
    outline: none;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
.card {
    width: 500px;
    height: 120px;
    padding: 0.5rem;
    background: rgba(198, 198, 198, 0.34);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(255, 255, 255, 0.440);
    border-left: 2px rgba(255, 255, 255, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
    transform: skewX(10deg);
    transition: .4s;
    overflow: hidden;
    color: white;
}
.card:hover {
    height: 254px;
    transform: skew(0deg);
}
.align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
}
.red, .yellow, .green {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}
.red { background-color: #ff605c; }
.yellow { background-color: #ffbd44; }
.green { background-color: #00ca4e; }
.card h1 {
    text-align: center;
    margin: 1.3rem;
    color: rgb(218, 244, 237);
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}

/* ------------------------------------------------------------ */
