.navbar-brand {
    font-family: 'Castoro';
    font-size: xx-large !important ; 
    font-weight: bold;
}

.header-brand {
    display: flex;
    align-items: center;
}

.bi-circle-fill {
    fill: currentColor;
    color: orange;
    width: 25px;
    height: 25px;
  }
#header-circle {
    margin-right: 8px;
}

#little-circle {
    width: 25px;
    height: 25px;
    color: orange;
}

.header-links {
    font-family: 'Castoro';
    font-size: large;
    display: flex;
    align-items: center;
}

.header-links a {
    color: black ;
    text-decoration: none;
    transition: font-size 0.5s ease;
}

.header-links a:hover {
    color: rgb(137, 187, 231);
    font-size: larger;
    font-weight: bold;
}

#cv-link {
    border-left: solid 2px ;
    border-right: solid 2px;
}

#contact-link{
    border-right: solid 2px;
}


body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa; 
    font-family: "Castoro";

}

header {
    width: 100%;
    height: 60px; /* Adjust as necessary */
    background-color: #f8f9fa; 
    padding-left: 2em;
    padding-right: 2em;
}

main.homepage {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    padding: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#a-propos {
    font-weight: bold;
}

#cadre-image {

    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: url('../img/photo.jpg');
    background-size: cover;
    background-position-y: 30%;
}

@media (max-width: 1200px) {
    #cadre-image {
        height: 400px; 
        width: 400px; 
    }
}
@media (max-width: 992px) {
    #cadre-image {
        height: 300px; 
        width: 300px; 
    }
}


#circle1 {
    background-color: orange;
}
#circle2 {
    background-color: red;
}
#circle3 {
    background-color: rgb(137, 187, 231);
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000; 
    font-weight: bold;
    font-size: 20px; 
    transition: transform 0.7s ease; 
}
.col a {
    text-decoration: none;
}

/* Increase circle on hover */
.circle:hover {
    transform: scale(1.1);
}

